.modal-changed {

  &__content {
    position: relative;
    padding-top: 4.8rem;
    padding-right: 4.8rem;
    padding-bottom: 6rem;
    padding-left: 4.8rem;
    min-height: 35rem;
    max-width: 60rem;

    @media (max-width: em(767)) {
      min-height: 23.5rem;
    }

    @media (max-width: em(575)) {
      min-height: 20rem;
    }
  }

  &__image {
    position: absolute;
    left: 50%;
    top: -25rem;
    width: 39rem;
    height: 39rem;
    transform: translateX(-50%);

    @media (max-width: em(767)) {
      top: -7rem;
      width: 12.5rem;
      height: 12.5rem;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: fluid-font(3.2rem, 2rem);
    text-align: center;
  }

  &__text {
    margin-top: auto;
  }
}