.shops {
  &__list {
    @media (max-width: em(1280)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(992)) {
      grid-template-columns: 1fr;
    }

    @media (max-width: em(767)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}