.header__links {
  // margin-right: 4rem;
  gap: 2rem;

  @media (max-width: em(1320)) {
    // margin-right: 2rem;
  }

  @media (max-width: em(992)) {
    // margin-right: 1rem !important;
    gap: 1.2rem;
  }

  @media (max-width: em(767)) {
    flex-direction: column;
    align-items: baseline !important;
    margin-right: initial !important;
  }

  &-list {
    gap: 1.2rem;

    @media (max-width: em(992)) {
      gap: 0.5rem;
    }

    @media (max-width: em(575)) {
      gap: 1.2rem;
    }
  }

  &-item {
    a {
      width: 4rem;
      height: 4rem;
      background-color: var(--clr-default-100);

      @media (max-width: em(992)) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media (max-width: em(767)) {
        width: 4rem;
        height: 4rem;
        background-color: var(--clr-primary-500);
      }
    }
  }

  &-text {
    @media (max-width: em(992)) {
      display: none;
    }

    @media (max-width: em(767)) {
      display: block;
    }
  }
}
